body {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}

a {
    margin-top: 15px;
    display: inline-block;
}

#message{
    color: red;
    font-size: 13px;
}

#optionsWrapper{
    font-size: 15px;
}

#adTitle{
    margin: 0;
}

#widgetsMessage{
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.controlsWrapper{
    margin-left: 10px;
    margin-bottom: 10px;
}

.checkbox{
    margin-bottom: 5px;
}

.colorSelection{
    width: 80px;
}

/*.link{
    font-size: 13px;
    margin-top: 1px;
}*/

#defaultSettings{
    margin-top: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;

    top: 5px;
    left: 250%;
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
